/* 去除常见标签默认的 margin 和 padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
  font: 16px/1.5 "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  color: #40404c;
}

/* 去除列表默认样式 */
ul,
ol {
  list-style: none;
}

ul,
li {
  list-style: none;
}

li {
  list-style: none;
}

/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}

/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  color: #40404c;
  text-decoration: none;
}

a:hover {
  color: #fc5832;
}

/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* 去除input默认样式 */
input {
  border: none;
  outline: none;
  color: #333;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
}

/* 头部 */
.header {
  position: relative;
  z-index: 9;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
}

.header .wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
}

/* logo */
.header .logo {
  margin-right: 10px;
  width: 154px;
  height: 60px;
}

/* 头部nav */
.header .nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.header .nav-item {
  margin-right: 20px;
  text-decoration: none;
  color: #72727b;
  padding: 5px 0;
  position: relative;
}

.header .nav-item:hover {
  color: #40404c;
}

/* 分类旁三角形图标显示 */

.header .nav-item .iconfont {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  font-size: 15spx;
  color: #ccc;
  transition: all 0.5s;
}

.header .nav-item:hover .iconfont {
  transform: rotate(-180deg);
}

/* 滑块样式设置 */
.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 15px;
  background-color: #ff6600;
  transition: left 0.3s ease, width 0.3s ease;
}

/* 分类下拉框样式设置 */
.channel-layer {
  position: fixed;
  top: 60px;
  left: 50%;
  z-index: -2;
  width: 1080px;
  height: 150px;
  padding: 10px;
  margin-left: -540px;
  color: #72727b;
  background-color: #f5f5f5;
  border: 1px solid #e4e4e4;
  border-top: none;
  transition: all 0.5s;
  transform: translateY(-220px);
}

.channel-layer a {
  color: #40404c;
  font-size: 13px;
  line-height: 1.4;
  display: inline-block;
  background: #ebebeb;
  border-radius: 12px;
  padding: 3px 16px;
  margin: 15px 15px auto auto;
  width: 110px;
  text-align: center;
}

.channel-layer a:hover {
  color: #fc5832;
}

.nav .secondary-menu:hover .channel-layer {
  transform: translateY(0px);
}

/* 搜索框容器样式 */
.search-container {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  border: 1px solid #ff6600;
  border-radius: 20px;
  overflow: hidden;
}

/* 输入框样式 */
.search-input {
  flex: 1;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
}

/* 搜索按钮样式 */
.search-button {
  width: 60px;
  height: 100%;
  border: none;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 搜索图标样式 */
.search-button::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url('/image/search.png'); 
  background-size: contain;
  background-repeat: no-repeat;
}
.search-tips {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px; /* 可根据实际情况增大宽度 */
  max-height: 200px; /* 添加最大高度限制，防止内容过多撑开布局 */
  overflow-y: auto; /* 当内容超出最大高度时，出现纵向滚动条 */
  opacity: 0; /* 初始透明度为0，即隐藏 */
  pointer-events: none; /* 初始时不响应点击等事件 */
  transition: opacity 0.3s ease; /* 添加透明度过渡效果，持续时间0.3秒，缓动函数为ease */
  top: 60px; /* 新增属性，根据需要调整数值，这里42px可使提示文本在搜索框下方有一定间距，数值可按需修改 */
}
.search-input:focus ~.search-tips {
  opacity: 1; /* 当搜索框获得焦点时，提示文本透明度变为1，即完全显示 */
  pointer-events: auto; /* 此时提示文本可以响应事件 */
}
.search-tips p {
  margin: 5px 0;
}


/* 图标 */
.header-icons {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  align-items: center;
}

.header-icons .icons-item {
  position: relative;
  text-align: center;
}

.header-icons .upload {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 300px;
  height: 140px;
  background-color: #fff;
  border-top: 2px solid #fc5832;
}

.header-icons .upload .upload-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}

.header-icons .upload .icons-item {
  text-align: center;
}
/* clientDropdown的样式 */
.clientDropdown {
  display: none;
  position: absolute;
  left: 60%;
  top: 100%;
  width: 300px;
  height: 140px;
  background-color: #fff;
  border-top: 2px solid #fc5832;
}
.clientDropdown-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  height: 80px;
}
/* 客户端下拉框的样式 */
.shebei {
  display: flex; 
  text-align: center;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.header-icons .icons-item .tit {
  display: block;
  font-size: 12px;
  color: #72727b;
}

.header-icons .icons-item img {
  width: 40px;
  height: 40px;
  
}
.icons-item-img{
   border-radius: 20px; 
}

.header-icons .active {
  position: relative;
}

/* 头像下拉框的样式 */
.header-icons .icons-item .login {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 350px;
  height: 200px;
  color: #72727b;
  background-color: #fff;
}

.icons-item .login .info {
  width: 100%;
  height: 100px;
  font-size: 16px;
  line-height: 100px;
  text-align: left;
  padding: 0 20px;
  color: #72727b;
  background-image: url(/image/userbackground.png);
  background-size: contain;
}

.login .icons p {
  display: block;
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.login .icons ul {
  display: flex;
  justify-content: space-evenly;
}

.login .icons li:hover .iconfont {
  color: #72727b;
}

.header-icons .active:hover .login {
  display: block;
}
.tit:hover {
  color: #fc5832;
}
/* main */
.main {
  padding-top: 20px;
}
/* layout */
.layout {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.layout-main {
  width: 780px;
}

.panel {
  margin-bottom: 20px;
}

.panel-head {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.panel-head .panel-head-tit {
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  font-weight: normal;
}

.panel-head .panel-head-tit::before {
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 15px;
  background-color: #f86442;
  border-radius: 6px;
  content: "";
}

.panel-head .panel-head-toggle {
  color: #40404c;
}

.panel-head .panel-head-toggle .iconfont {
  margin-right: 5px;
}

.panel-head .panel-head-toggle:hover {
  color: #f86442;
}

.panel-body ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panel-body ul li {
  width: 140px;
}

/* 中间内容书本样式 */

.album-item .album-item-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.album-item .album-item-box .img {
  transition: all 0.5s;
}

.album-item .album-item-tit {
  padding: 5px 0;
  overflow: hidden;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album-item .album-item-aut {
  font-size: 13px;
  color: #a3a3ac;
}

.album-item .album-item-aut:hover {
  color: #f86442;
}

.album-item .album-item-box::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5) url(../image/play.png) no-repeat center / 20px;
  opacity: 0;
  transition: all .5s;
}

.album-item .album-item-box:hover::after {
  opacity: 1;
  background-size: 50px;
}

.album-item .album-item-box:hover img {
  transform: scale(1.1);
}
/* 侧边栏 */
.layout-aside {
  width: 260px;
  margin-left: 40px;
}

/* 侧边栏登录界面的样式 */
.card {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f9f9fa;
  border-radius: 4px;
}

.card .card-head {
  display: flex;
  height: 70px;
  background: url("../image/userbackground.png") no-repeat center / cover;
  align-items: center;
  justify-content: center;
}

.card .card-head .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card .card-head .text {
  margin-left: 10px;
  color: #72727b;
}

.card .card-info {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
}

.card .card-info .login {
  padding: 3px 34px;
  color: #fff;
  background-color: #ff7251;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgb(252 88 50 / 50%);
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0.2),
      #ff7251);
}

.download {
  display: flex;
  padding: 10px;
  overflow: hidden;
  background: #f9f9fa url("../image/downloadbackground.png") no-repeat 4px 25px / 100%;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
}

.download .dl {
  display: flex;
  flex-wrap: wrap;
}

.download .dl .dl-tit {
  margin-bottom: 10px;
  font-size: 18px;
}

.download .dl .dl-btn {
  width: 68px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background-image: radial-gradient(50px at 10px 10px,
      rgba(255, 255, 255, 0.5),
      transparent);
}

.download .dl .dl-btn:nth-of-type(1) {
  background-color: #67b9eb;
}

.download .dl .dl-btn:nth-of-type(2) {
  margin-left: 10px;
  background-color: #86d864;
}

.download .download-img {
  width: 90px;
  height: 90px;
}
/* 内容类 */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.content .left {
  width: 780px;
}

.title .title-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title-head .title-head-tit {
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  font-weight: normal;
}

.title-head .title-head-tit::before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 5px;
  height: 15px;
  background-color: #f86442;
  border-radius: 6px;
  content: "";
}

.title-head ul {
  margin-left: 20px;
  display: flex;
  flex: 1;
}

.title-head ul li a {
  padding: 0 10px;
  border-right: 2px solid #e8e8e8;
}

.title-head li:last-child a {
  border-right: 0;
}

.title-head .title-head-toggle {
  color: #40404c;
}

.title-head .title-head-toggle:hover {
  color: #f86442;
}

.content .right {
  width: 260px;
  height: 488px;
  margin-left: 40px;
  background: #fff;
  padding: 0 0 10px;
}

.right .list-tit {
  font-size: 20px;
  line-height: 28px;
  color: #333;
  margin-bottom: 10px;
}


/* 排行榜书本内容样式 */
.list-items {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  color: #40404c;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.list-items:hover .list-items-tit{
  color: #f86442;
}

.list-items-img {
  flex-shrink: 0;
  position: relative;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 4px;
}

.list-items-img .img {
  line-height: 80px;
  border-radius: 4px;
}

.list-items .list-items-img::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5) url(../image/play.png) no-repeat center / 20px;
  opacity: 0;
  transition: all .5s;
}

.list-items .list-items-img:hover::after {
  opacity: 1;
  background-size: 35px;
}

.list-items .list-items-img:hover img {
  transform: scale(1.1);
}

.list-items .list-items-txt {
  width: 170px;
  text-overflow: ellipsis;
}

.list-items .list-items-tit {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  max-width: 100%;
  color: #40404c;
  font-weight: 700;
}

.list-items .list-items-aut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4;
  max-width: 100%;
  color: #a3a3ac;
  margin-top: 3px;
}

.list-items .num {
  display: inline-block;
  width: 15px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 20px;
  text-align: left;
  color: #a3a3ac;
}

.list-items .list-items-text {
  width: 100%;
  text-overflow: ellipsis;
}


 .listen-count._hW {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 5px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0, #000 97%);
  text-align: right;
  color: #fff;
  font-weight: lighter;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.listen-count-img {
  height: 22px;
  width: 20px; 
}
.corner-img._hW {
  height: 20px;
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
}